<div class="row mt-5">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="mb-3 d-flex flex-column align-items-center">
      <h1 class="d-flex">Crear revista</h1>
    </div>
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newMagazine.name">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="newMagazine.description" maxlength="199"></textarea>
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Selecciona una categoría</label>
        <ng-select id="category" name="category" [(ngModel)]="newMagazine.catCategory" [items]="magazineCategories"
                    bindLabel="value2" [clearable]="false" [multiple]="false"
        ></ng-select>
      </div>
      <div class="mb-3">
        <label for="entryDate" class="form-label">Fecha y hora de ingreso</label>
        <input type="datetime-local" class="form-control" id="entryDate" name="entryDate" [(ngModel)]="newMagazine.entryDate">
      </div>
      <div class="mb-3">
        <label for="file" class="form-label">Archivo PDF</label>
        <input type="file" class="form-control" id="file" name="file" (change)="loadFile($event)" accept="application/pdf">
      </div>
      <div class="mb-3">
        <label for="cover" class="form-label">Imágen de portada</label>
        <input type="file" class="form-control" id="cover" name="cover" (change)="loadCover($event)" accept="image/*">
      </div>
      <div class="mb-3">
        <label for="subscription-cost" class="form-label">Costo de suscripción</label>
        <div class="row d-flex align-items-center">
          <div class="col-2">
            <div class="d-flex flex-column align-items-end">
              <label class="form-label">Q.</label>
            </div>
          </div>
          <div class="col-4">
            <input type="number" class="form-control" id="subscription-cost" name="subscription-cost" [(ngModel)]="newMagazine.subscriptionCost">
          </div>
          <div class="col-6"></div>
        </div>
      </div>
      <button class="btn btn-primary" (click)="save()" [disabled]="!fileLoaded || !coverLoaded">Guardar</button>
    </form>
  </div>
  <div class="col-3"></div>
</div>
