.th-number{
  width: 5%;
}

.th-name{
  width: 30%;
}

.th-total-cost{
  width: 20%;
}

.th-total-income{
  width: 20%;
}

.th-total-profit{
  width: 20%;
}

.th-actions{
  width: 5%;
}



.th-s-number{
  width: 10%;
}

.th-s-user{
  width: 30%;
}

.th-s-email{
  width: 20%;
}

.th-s-entry-date{
  width: 20%;
}

.th-s-income{
  width: 10%;
}

.th-s-profit{
  width: 10%;
}
