.th-number{
  width: 5%;
}

.th-name{
  width: 15%;
}

.th-description{
  width: 25%;
}

.th-category{
  width: 20%;
}

.th-entry-date{
  width: 15%;
}

.th-status{
  width: 10%;
}

.th-subscriptions{
  width: 5%;
}

.th-actions{
  width: 5%;
}


.th-s-number{
  width: 10%;
}

.th-s-user{
  width: 30%;
}

.th-s-email{
  width: 30%;
}

.th-s-entry-date{
  width: 30%;
}
