<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/digital/dashboard"><img src="assets/logo/digital_mag_hub_icon.png" alt=""
        width="40px">Digital Mag Hub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-link active" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Revistas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li [appCheckPermission]="roleEnum.EDITOR"><a
                class="dropdown-item" href="/digital/magazines/create">Crear</a></li>
            <li [appCheckPermission]="roleEnum.EDITOR"><a class="dropdown-item" href="/digital/magazines">Mis
                revistas</a></li>
            <li [appCheckPermission]="roleEnum.ADMIN"><a class="dropdown-item" href="/digital/magazines/cost">Costos</a></li>
            <li [appCheckPermission]="roleEnum.SUBSCRIPTOR"
              [checkMultiplePermissions]="[roleEnum.EDITOR, roleEnum.ADMIN]"><a class="dropdown-item"
                href="/digital/magazines/search">Buscar</a></li>
            <li [appCheckPermission]="roleEnum.SUBSCRIPTOR"><a class="dropdown-item"
                href="/digital/magazines/my-subscriptions">Mis suscripciones</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" [appCheckPermission]="roleEnum.NONE"
          [checkMultiplePermissions]="[roleEnum.EDITOR, roleEnum.ADMIN]">
          <a class="nav-link dropdown-toggle nav-link active" href="#" id="navbarDropdownReports" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Reportes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownReports">
            <li [appCheckPermission]="roleEnum.ADMIN"><a class="dropdown-item" href="/digital/reports/magazine/most-subscriptions">Revistas más populares</a>
            </li>
            <li [appCheckPermission]="roleEnum.EDITOR"><a class="dropdown-item"
                href="/digital/reports/magazine/subscriptions-to-my-magazines">Suscripciones a
                mis revistas</a></li>
            <li [appCheckPermission]="roleEnum.ADMIN"><a class="dropdown-item" href="/digital/reports/magazine/admin-profits">Ganancias</a></li>
            <li [appCheckPermission]="roleEnum.EDITOR"><a class="dropdown-item" href="/digital/reports/magazine/editor-profits">Mis ganancias</a></li>
            <li [appCheckPermission]="roleEnum.EDITOR"><a class="dropdown-item"
                href="/digital/reports/magazine/comments">Comentarios sobre revistas</a></li>
            <li [appCheckPermission]="roleEnum.EDITOR"><a class="dropdown-item"
                href="/digital/reports/magazine/most-like">Revistas con más 'Me gusta'</a></li>
            <li [appCheckPermission]="roleEnum.ADMIN"><a class="dropdown-item"
                href="/digital/reports/magazine/most-comment">Revistas con más comentarios</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="profile-info d-felx align-items-center ">
        <div class="dropdown">
          <div class="d-flex nav-link nav-item dropdown" href="#" id="navbarUserDropdown" role="button"
            data-bs-toggle="dropdown">
            <div class="d-none d-sm-flex flex-column align-items-end grap-1">
              <p class="fw-sm text-right text-nowrap mb-0 text-white"> {{currentUser.fullName}} </p>
              <span class="badge px-3 rounded-pill badge-pill fw-normal ml-auto ignore-for-print">
                {{sumaryRole}}
              </span>

            </div>
            <img class="profile-image ml-3" [src]="currentUser.profilePhoto ?? 'assets/icon/user.png'" width="40px" />
          </div>

          <ul class="dropdown-menu dropdow-menu-rigth" aria-labelledby="navbarUserDropdown">
            <li><button class="dropdown-item small" (click)="goToProfile()">Perfil</button></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><button class="dropdown-item small" (click)="logout()">cerrar sesion</button></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</nav>
<br /><br />
