.th-c-number{
  width: 5%;
}

.th-c-name{
  width: 15%;
}

.th-c-description{
  width: 20%;
}

.th-c-category{
  width: 15%;
}

.th-c-entry-date{
  width: 15%;
}

.th-c-author{
  width: 15%;
}

.th-c-status{
  width: 10%;
}

.th-c-actions {
  width: 5%;
}


.th-p-number{
  width: 5%;
}

.th-p-name{
  width: 15%;
}

.th-p-description{
  width: 20%;
}

.th-p-category{
  width: 13%;
}

.th-p-entry-date{
  width: 13%;
}

.th-p-author{
  width: 11%;
}

.th-p-status{
  width: 9%;
}

.th-p-cost{
  width: 9%;
}

.th-p-actions {
  width: 5%;
}
