.th-number{
  width: 5%;
}

.th-name{
  width: 15%;
}

.th-description{
  width: 20%;
}

.th-category{
  width: 15%;
}

.th-entry-date{
  width: 15%;
}

.th-author{
  width: 15%;
}

.th-status{
  width: 10%;
}

.th-actions {
  width: 5%;
}
